/*============================================================================
     Formatting
     I learned what things to put in here by looking at the full files for minimal-mistakes from its github
     And then going into _sass\minimal-mistakes\skins\_contrast.scss to look at what the skin changes from default

     OR similarly looking into _sass\minimial-mistakes\_navigation.scss for things relating to the table of contents 
     on the right

     or _masthead.scss for things relating to the top header bar thing.
========================================================================== */


$box-shadow: none; 
$border-color: transparent;
/*============================================================================
     Colors
========================================================================== */

$primary-color: #24134c !default;

$background-color: #F1F1F1  !default;

$footer-background-color: #24134c !default;


$masthead-background-color: #24134c !default;
$masthead-link-color: #fff  !default;
$masthead-link-color-hover: #6a548e !default;


$link-color: #24134c !default;
$link-color-hover: #6a548e !default;
