.masthead {
  background-color: $masthead-background-color;

  &__inner-wrap {
  color: $masthead-background-color;
  background-color: $masthead-background-color;

      nav {
      color: $masthead-background-color;
      background-color: $masthead-background-color;
    }

  }


  }
